html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #9D2E2E;
    height: 100px;
}

footer > .ft-content > a {
    text-decoration: none;
    color: #C1B461;
    margin-top: 40px;
}
footer > .ft-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    
}
